header.header
  .header__column
    a(href=routes.home)
      span ❤
  .header__column
    form(action=routes.search, method="get") 
      input(type="text", name="searchTerm")
  .header__column
    ul
      if !user.isAuthenticated
        li 
          a(href=routes.login) login
        li 
          a(href=routes.join) join
      else
        li
          a(href=`/videos${routes.upload}`) Upload
        li
          a(href=routes.userDetail(user.id)) Profile
        li
          a(href=routes.logout) Logout